<!doctype html>
<head>
  <meta charset="utf-8">
  <title>編集</title>
</head>
<body>
<form name="form" method="POST" action="/update/{{book.id}}">
  <input type="hidden" name="id" value="{{book.id}}">
  <p>タイトル</p>
  <p><input type="text" name="title" value="{{book.title}}"></p>
  <p>名前</p>
  <p><input type="text" name="name" value="{{book.name}}"></p>
<p><input type="submit" value="OK"></p>
</form>
</body>
</html>
