<!doctype html>
<head>
  <meta charset="utf-8">
  <title>情報</title>
</head>
<body>
  <p>タイトル</p>
  <p>{{book.title}}</p>
  <p>名前</p>
  <p>{{book.name}}</p>
  <a href="/">Index</a>
</body>
</html>
